
.new-item-form {
    width: 25%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: #f8f8f8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    
  }
  
  .form-row {
    margin-bottom: 15px;
    
  }
  
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
    
  }
  
  input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    
  }
  
  input[type="text"]:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0px 0px 5px rgba(102, 175, 233, 0.6);
  }
  